@import "./utils/variables";
@import "./components/reset";
@import "./components/global";
@import "./components/typography";
@import "./components/button";
@import "./components/logo";
@import "./components/navigation";
@import "./components/contact";
@import "./components/hero";
@import "./components/advantages";
@import "./components/mainpage";
@import "./components/imagesmain";
@import "./components/icons";
@import "./components/ourteam";
@import "./components/employees-card";
@import "./components/customer-icon";
@import "./components/our-customers";
@import "./components/newsletter";
@import "./components/joinus";
@import "./components/address";
@import "./components/footer";
@import "./components/modal";
@import "./components/input";
@import "./components/checkbox";
@import "./components/terms";
@import "./components/product";
@import "./components/portfolio";
@import "./components/header";
@import "./components/mobile-menu";
@import "./components/menu-icon";
@import "./components/media";
@import "./components/container";
