.advantages {
  gap: 30px;
  display: flex;
  flex-direction: row;
  margin-top: 94px;
  justify-content: center;
  @media (min-width: 768px) and (max-width: 1199px) {
    flex-wrap: wrap;
    margin-top: 60px;
    margin-bottom: 45px;
  }
  @media (max-width: 767px) {
    flex-wrap: wrap;
    margin-top: 60px;
    margin-bottom: 45px;
  }
  &__item {
    display: flex;
    width: 270px;
    height: 120px;
    border-radius: 4px;
    background-color: $buttons-color;
    justify-content: center;
    align-items: center;
    margin-bottom: 30px;

    @media (min-width: 768px) and (max-width: 1199px) {
      max-width: 354px;
      width: 100%;
    }
    @media (max-width: 767px) {
      max-width: 450px;
      width: 100%;
    }
  }
  & p {
    font-weight: $font-weight-s;
    font-size: 14px;
    line-height: 1.71;
    letter-spacing: 0.03em;
    color: $font-color-secondary;
    margin-top: 10px;

    @media (min-width: 768px) and (max-width: 1199px) {
      max-width: 354px;
    }
    @media (max-width: 767px) {
      max-width: 450px;
    }
  }
  & li {
    display: flex;
    flex-direction: column;
    align-items: center;
  }
}
