.contact {
  font-weight: $font-weight-m;
  font-size: 14px;
  line-height: 1.14;
  letter-spacing: 0.02em;
  display: flex;
  align-items: center;
  display: flex;
  gap: 30px;
  @media (min-width: 768px) and (max-width: 1199px) {
    display: flex;
    flex-direction: column;
    align-items: flex-start;
    gap: 10px;
    font-size: 12px;
    line-height: 1.17;
  }
  @media (max-width: 767px) {
    display: none;
  }

  &__link {
    display: flex;
    align-items: center;
    transition-timing-function: $transit-function-primary;
    transition-property: color, fill;
    transition-duration: $transit-duration-primary;
    gap: 10px;
    color: $font-color-secondary;
    &:focus,
    &:hover {
      color: $special-color-primary;
      fill: $special-color-primary;
    }
  }
}
