.customer {
  display: flex;
  align-items: center;
  justify-content: center;
  width: 170px;
  height: 92px;
  border: 1px solid $icons-primary-color;
  border-radius: 4px;
  fill: $icons-primary-color;
  &:focus,
  &:hover {
    cursor: pointer;
    border: 1px solid $special-color-primary;
  }
  @media (min-width: 768px) and (max-width: 1199px) {
    width: 226px;
  }
  @media (max-width: 767px) {
    width: 210px;
  }
  & svg {
    transition-timing-function: $transit-function-primary;
    transition-property: fill, border;
    transition-duration: $transit-duration-primary;
  }
  &:hover svg,
  &:focus svg {
    fill: $special-color-primary;
  }
}
