.container {
  max-width: 1200px;
  width: 100%;
  margin: 0 auto;
  display: flex;
  align-items: center;

  @media (min-width: 768px) and (max-width: 1199px) {
    max-width: 768px;
    padding-left: 15px;
    padding-right: 15px;
    margin: 0;
  }
  @media (max-width: 767px) {
    max-width: 480px;
    padding-left: 15px;
    padding-right: 15px;
    margin: 0;
  }
}
.advantages-box {
  display: flex;
  margin-top: 94px;
  margin-bottom: 94px;
}
.is-hidden {
  pointer-events: none;
  visibility: hidden;
  opacity: 0;
}
.tablet {
  @media (min-width: 768px) and (max-width: 1199px) {
    max-width: 768px;
  }
}
