.modal {
  position: fixed;
  display: flex;
  width: 100%;
  height: 100%;
  background-color: $bg-color-modal;
  justify-content: center;
  align-items: center;
  transition-timing-function: cubic-bezier(0.4, 0, 0.2, 1);
  transition-property: opacity, background-color, visibility;
  transition-duration: 1s;
  z-index: 1;
  &__box {
    position: absolute;
    display: flex;
    flex-direction: column;
    align-items: center;
    max-width: 528px;
    width: 100%;
    height: 581px;
    background-color: $color-white;
    border-radius: 4px;
    box-shadow: 0px 1px 3px rgba(0, 0, 0, 0.12), 0px 1px 1px rgba(0, 0, 0, 0.14),
      0px 2px 1px rgba(0, 0, 0, 0.2);
    padding: 40px;
    @media (min-width: 768px) and (max-width: 1199px) {
      max-width: 450px;
      height: 609px;
      width: 100%;
    }
    @media (max-width: 767px) {
      max-width: 450px;
      height: 609px;
      width: 100%;
    }
  }
  &__close {
    display: flex;
    position: absolute;
    right: 0;
    top: 0;
    fill: $color-black;
    border-radius: 50px;
    cursor: pointer;
    padding: 6px;
    background-color: $color-white;
    border-color: $modal-close-button-color;
    margin: 8px;
  }
  &__title {
    margin-bottom: 12px;
  }
  &__form {
    display: flex;
    gap: 10px;
    flex-direction: column;
    width: 100%;
    align-items: center;
  }
}
