.product {
  display: inline-block;

  &__overlay-box {
    position: relative;
    overflow: hidden;
  }
  &__overlay {
    position: absolute;
    background-color: $special-color-primary-opacity;
    opacity: 0.5;
    height: 100%;
    width: 100%;
    transform: translateY(100%);
    opacity: 0;
    transition-duration: $transit-duration-primary;
    transition-timing-function: $transit-function-primary;
    transition-property: transform, opacity;
    padding: 49px 45px 49px 24px;
    font-weight: $font-weight-s;
    font-size: 18px;
    line-height: 1.56;
    letter-spacing: 0.03em;
    color: $color-white;
  }
  &:hover .product__overlay-box .product__overlay {
    transform: translateY(0);
    opacity: 1;
  }
  &__card {
    padding: 20px 24px 20px 24px;
    border-bottom: 1px solid $image-border-color;
    border-right: 1px solid $image-border-color;
    border-left: 1px solid $image-border-color;
    font-size: 16px;
    line-height: 1.88;
    letter-spacing: 0.03em;
    color: $font-color-secondary;
    &--bold {
      font-weight: $font-weight-l;
      font-size: 18px;
      line-height: 2;
      letter-spacing: 0.06em;
      color: $font-color-primary;
    }
  }
}
