h1 {
  font-weight: $font-weight-xl;
  font-size: 44px;
  line-height: 1.36;
  letter-spacing: 0.06em;
  text-transform: uppercase;
  text-align: center;
  color: $color-white;
  @media (min-width: 768px) and (max-width: 1199px) {
    font-size: 26px;
    line-height: 1.62;
  }
  @media (max-width: 767px) {
    font-size: 26px;
    line-height: 1.62;
  }
}
h3 {
  font-weight: $font-weight-l;
  font-size: 14px;
  line-height: 1.14;
  letter-spacing: 0.03em;
  text-transform: uppercase;
}
h2 {
  font-weight: $font-weight-l;
  font-size: 36px;
  line-height: 1.17;
  text-align: center;
  letter-spacing: 0.03em;
}
h4 {
  font-weight: $font-weight-l;
  font-size: 20px;
  line-height: 1.15;
  text-align: center;
  letter-spacing: 0.03em;
}
