$font-color-primary: rgb(33, 33, 33);
$font-color-primary-alpha: rgba(33, 33, 33, 0.2);
$special-color-primary: rgb(33, 150, 243);
$special-color-primary-opacity: rgba(33, 150, 243, 0.9);
$special-color-secondary: rgb(89, 0, 255);
$color-white: rgb(255, 255, 255);
$color-white-alpha: rgba(255, 255, 255, 0.6);
$font-color-secondary: rgb(117, 117, 117);
$font-color-secondary-alpha: rgba(117, 117, 117, 0.5);
$bg-color-primary: rgb(47, 48, 58);
$buttons-color: rgb(245, 244, 250);
$color-black: rgb(0, 0, 0);
$text-shadow-primary: 0px 4px 4px rgba(0, 0, 0, 0.25);
$border-header-color: rgb(236, 236, 236);
$image-border-color: rgb(238, 238, 238);
$icons-primary-color: rgb(175, 177, 184);
$bg-footer-icons-color: rgba(255, 255, 255, 0.1);
$modal-close-button-color: rgba(0, 0, 0, 0.1);
$bg-color-modal: rgba(0, 0, 0, 0.2);
$font-color-image-name: rgba(47, 48, 58, 0.8);
$family-secondary: "raleway", sans-serif;
$family-primary: "roboto", sans-serif;
$font-weight-s: 400;
$font-weight-m: 500;
$font-weight-l: 700;
$font-weight-xl: 900;
$transit-function-primary: cubic-bezier(0.4, 0, 0.2, 1);
$transit-duration-primary: 250ms;
